.serverless {
   font-size:8pt !important; 
   font-weight:bold !important; 
   color:red !important;
}

.news_date {
   font-size:8pt !important; 
   font-weight:bold !important; 
}

.feature_header {
  font-weight:bold !important; 
  color:#1C1C1C !important;
}

table.learn {
  width:100% !important; 
  background-color:#f29111 !important; 
  height:20px !important; 
  text-align:center !important; 
  font-weight:bold !important;
  color:white !important;
  font-size:1em !important;
  border-color:#f29111 !important;
  border: 5px solid #f29111 !important;
}

table.position {
 width:100% !important;
 background-color:#942645 !important;
 height:20px !important;
 text-align:center !important;
 font-weight:bold !important;
 color:white !important;
 font-size:1em !important;
 border-color:#f29111 !important;
 border: 5px solid #942645 !important;
}

table.demo {
 width:100% !important;
 background-color:#00758f !important;
 height:20px !important;
 text-align:center !important;
 font-weight:bold !important;
 color:white !important;
 font-size:1em !important;
 border-color:#f29111 !important;
 border: 5px solid #00758f !important;
}

table.helper {
 border-top: 2px !important;
 border-left: 2px !important;
 border-right: 2px !important;
 border-bottom: 2px !important;
 border-style: solid !important;
 border-color: grey !important;
 cellpadding:1 !important;
 cellspacing:1 !important; 
 width:100% !important;
 padding: 10px !important;
}

#ql_sd {
  width:50% !important; 
  border-top: 2px !important;
  border-left: 2px !important;
  border-right: 2px !important;
  border-bottom: 2px !important;
  border-style: solid !important;
  border-color: #154360 !important;
  background-color:#154360 !important;
  text-align:center !important;
  font-weight:normal !important;
  line-height: 16px !important;
  color: white !important; 
  font-family: Helvetica, Arial, sans-serif !important; 
  font-size: 10px !important; 
  line-height:24px !important; 
  letter-spacing:.5px !important; 
  font-weight: bold !important;	
}

#ql {
  width:50% !important; 
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important
  border-bottom: 0px !important
  border-style: solid !important;
  border-color: white !important;
  background-color:white !important;
  color:#515A5A !important;
  font-family:arial !important;
  font-size:10px !important;
  text-align:center !important;
  font-weight:bold !important;
  line-height: 10px !important;
  color: #7187a7 !important; 
  font-family: Helvetica, Arial, sans-serif !important; 
  font-size: 12px !important; 
  line-height:24px !important;
  letter-spacing:.5px !important; 
  font-weight: bold !important;	

}

table.events {
 border-top: 2px !important;
 border-left: 2px !important;
 border-right: 2px !important;
 border-bottom: 2px !important;
 border-style: solid !important;
 border-color: white !important;
 cellpadding:10px !important;
 cellspacing:10px !important; 
 width:100% !important;
 padding: 5px !important;
 background-color:grey;
 color:white;
 text-decoration:none;
}


#container_header {
	color:white !important;
	border-width: 10px !important;
	border-bottom: 10px !important;
	border-style: solid !important;
	border-color: silver !important;
    background-position: left top !important;
	background-size: 1200px !important;
	background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/e4d1045cb7ad2dc5fd0b22313077053d/redwood_design.png') !important;
	background-color: grey !important;
	background-repeat: no-repeat !important;
  *zoom: 1;
}

#container_content{
  border-width: 10px !important;
  border-bottom: 10px !important;
  border-style: solid !important;
  border-color: silver !important;
  width:100% !important;
}

#container_content_top{
  border-width: 10px !important;
  border-bottom: 0px !important;
  border-style: solid !important;
  border-color: silver !important;
  width:100% !important;
}

#container_content_bottom{
  border-width: 10px !important;
  border-top: 0px !important;
  border-style: solid !important;
  border-color: silver !important;
  width:100% !important;
}

#back_section_1 {
  border-width: 10px !important;
  border-bottom: 10px !important;
  border-style: solid !important;
  border-color: silver !important;
  text-align: right !important;
  font-family:Verdana !important;
  width:100% !important;
  height:80px !important;
  font-size:10px !important; 
  font-weight:bold !important;
  color:white !important;
  text-decoration: none !important;
  background-position: left bottom !important;
  background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/1f0f0232ea27c84d7c6dde017ef5303e/rh02_panel1.jpg'); background-color: grey !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;		

}


#back_section_2 {
  border-width: 10px !important;
  border-bottom: 10px !important;
  border-style: solid !important;
  border-color: silver !important;
  text-align: right !important;
  font-family:Verdana !important;
  width:100% !important;
  height:80px !important;
  font-size:10px !important; 
  font-weight:bold !important;
  color:white !important;
  text-decoration: none !important;
  background-position: left bottom !important;
  background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/e2a1d65933519a2d6b2f5693d56143fb/rh02_panel2.jpg'); background-color: grey !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;		

}

#back_section_3 {
  border-width: 10px !important;
  border-bottom: 10px !important;
  border-style: solid !important;
  border-color: silver !important;
  text-align: right !important;
  font-family:Verdana !important;
  width:100% !important;
  height:80px !important;
  font-size:10px !important; 
  font-weight:bold !important;
  color:white !important;
  text-decoration: none !important;
  background-position: left bottom !important;
  background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/9b796d7058dcdf29f6cde9a6c2324681/rh02_panel3.jpg'); background-color: grey !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;		

}

a.btt {
  text-align: right !important;
  margin-right:-3px !important;
  font-family:Verdana !important;
  font-size:12px !important; 
  font-weight:bold !important;
  color:white !important;
  text-decoration: none !important;
  color: white !important;
  background-color: #454545 !important;
  border-width:15px !important;
  border-color: #454545 !important;
  border-style: solid !important;
}

.border-edge {
 width:80px;
 background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/e4d1045cb7ad2dc5fd0b22313077053d/redwood_design.png');
 background-position: left top !important;
 background-size: 890px !important;
 background-color: grey !important;
}

table.helper_learn {
 background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/7232595a9e15dea24501c6b61c8681ee/redwood_analyze.jpg') !important;
 background-position: left top !important;
 background-size: 250px 290px !important;
 background-color: grey !important;
 background-repeat: no-repeat !important;
}

table.helper_do {
 background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/7b078d381f1f83eb5939f955a9e62312/redwood_success.jpg') !important;
 background-position: left top !important;
 background-size: 250px 290px !important;
 background-color: grey !important;
 background-repeat: no-repeat !important;
}

.collapsible {
  background-color: #2D7480 !important;
  color: white  !important;
  cursor: pointer !important;
  padding: 18px !important;
  width: 100% !important;
  border: none !important;
  outline: none !important;
  font-size: 15px !important;
  text-align:center !important;
  background-image: url('https://www.oracle.com/asset/web/i/rw-natural06-15p.png') !important;
}

.active, .collapsible:hover {
  background-color: #2D7480 !important;
}

.collapsible:after {
  content: '\002B' !important;
  color: white !important;
  font-weight: bold !important;
  font-size:40pt !important;
  float: right !important;
  margin-right: 50% !important;
}

.active:after {
  content: "\2212" !important;
}

.content {
  padding: 0 18px !important;
  max-height: 0 !important;
  overflow: hidden !important;
  transition: max-height 0.2s ease-out !important;
  background-color: white !important;
}

area { 
 outline: none !important; 
}

a.doc:link {
color: blue;
}

a.doc:visited {
color: blue;
}


li {
font-family: Oracle Sans !important;
font-size: 10.5pt !important;
font-color:#252525 !important;
}

p {
font-family: Oracle Sans !important;
font-size: 10.5pt !important;
font-color:#252525 !important;
}

td.topit{
height:280px;
width:100%;
vertical-align:top;
text-align:left;
}

.row_set{
margin-left:300px; 
margin-right:50px; 
color:white !important;
}