/* Desktop Styles */
@media only screen and (min-width: 990px) {
  .container,  .container_header, .container_intro, .container_feature, .container_collateral, .container_feature_flow, .container_gl, .container_blog, .container_links, .container_sm, .container_footer {
    width: 990px !important;
    display: flex !important;
    flex-wrap: wrap !important;
    flex-direction: row !important;
  }

.container_header {
	height:185px !important;
	width:990px !important;
	background-repeat: no-repeat !important;
	background-size: cover !important; 
	}
 
 header_confidential {
    float: left !important;
    width: 100% !important;
    order: 1 !important;
  }

  header_section {
    float: left !important;
	margin-top:5px !important;
	height:170px !important;
    width: 65.8% !important;
    order: 1 !important;
  }
  header_icon {
	margin-top:5px !important;
    float: left !important;
    width: 20% !important;
    order: 2 !important;
  }
  banner_section {
    float: left !important;
    width: 90% !important;
	margin-left: 10px !important;
	margin-right: 10px !important;
  }
  internal_banner {
    float: left !important;
    width: 90% !important;
  }
  intro_section_header {
    float: left !important;
    width: 90% !important;
   }
  intro_section_text {
    float: left !important;
    width: 90% !important;
	margin-bottom:25px !important;
   }
  feature_icon, livesql_icon {
    float: left !important;
    width: 10% !important;
	margin-bottom: 50px !important;
	margin-top:10px !important;
   }
  feature_text, gl_text, archive_text {
    float: left !important;
    width: 80% !important;
	margin-bottom:0px !important;
	margin-top:50px !important;
   }

  collateral_box {
    float: left !important;
    width: 28% !important;
	margin-bottom:55px !important;
	margin-top:5px !important;
	margin-left:0px !important;
	margin-right:0px !important;
   }

 collateral_banner {
    float: left !important;
    width: 100% !important;
	margin-bottom:5px !important;
	margin-top:5px !important;
   }

 collateral_text {
    float: left !important;
    width: 95% !important;
	margin-left:10px !important;
	margin-right:0px !important;
	margin-bottom:2px !important;
	margin-top:5px !important;
   }

 livesql_text {
    float: left !important;
    width: 70% !important;
	margin-bottom:10px !important;
	margin-top:80px !important;
   }


  blog_header_icon, archive_header_icon {
    float: left !important;
    width: 10% !important;
    margin-top: 10px !important;
    margin-bottom:20px !important;
   }

  gl_header_icon {
    float: left !important;
    width: 10% !important;
    order: 2 !important;
  }

  gl_header {
    float: left !important;
    width: 60% !important;
    order: 1 !important;
	margin-top:50px !important;
	margin-bottom:50px !important;	
  }

 blog_header {
    float: left !important;
    width: 70% !important;
    margin-top: 20px !important;
    margin-bottom:20px

   }
  blog_article {
    float: left !important;
    width: 30% !important;
	height:150px !important;
   } 

  archive_header {
    float: left !important;
    width: 70% !important;
    margin-top:20px !important;
    margin-bottom:50px !important;
  }

  ql_article {
    float: left !important;
    width: 20% !important;
   } 

  footer_email, footer_hardware, my_signature {
    float: left !important;
    width: 100% !important;
   }
 sm_header {
    float: left !important;
    width: 90% !important;
    margin-bottom:20px
   }
  sm_link {
    float: left !important;
    width: 14% !important;
   } 
}
