.help-drawer {
    display:    block;
    position:   fixed;
    right:      0px;
    top:        148px;
    background:  url('cs_images/contacts/drawer-bg.png');
    z-index:    100;
}

.help-drawer-btns {
    display: block;
    float:   left;
    width:   42px;
    margin-top: 118px;
}

.help-drawer-btn {
    display: block;
    position: relative;
    width: 42px;
    height: 41px;
}

.help-drawer-btn-account,
.help-drawer-btn-links,
.help-drawer-btn-account-active,
.help-drawer-btn-links-active {
    border-top: 1px solid #d6dfe6;
    border-left: 1px solid #d6dfe6;
    display:       block;
    padding:       8px;
    border-radius:          5px 0px 0px 5px;
    -moz-border-radius:     5px 0px 0px 5px;
    -webkit-border-radius:  5px 0px 0px 5px;
}

.help-drawer-btn-account,
.help-drawer-btn-links {
    background:     #eff2f3;
    border-right: 1px solid #d6dfe6;
}

.help-drawer-btn-account-active,
.help-drawer-btn-links-active {
    background:    #ffffff;
    border-right: 1px solid #ffffff;
}

.help-drawer-btn-account img,
.help-drawer-btn-links img,
.help-drawer-btn-account-active img,
.help-drawer-btn-links-active img {
    display: block;
    width:   24px;
    height:  24px;
}

.help-drawer-btn-account img       { background: url('cs_images/contacts/func_coins_24_ena.png'); }
.help-drawer-btn-account:hover img { background: url('cs_images/contacts/func_coins_24_hov.png'); }
.help-drawer-btn-account-active img{ background: url('cs_images/contacts/func_coins_24_act.png'); }
.help-drawer-btn-links img         { background: url('cs_images/contacts/func_link_24_ena.png'); }
.help-drawer-btn-links:hover img   { background: url('cs_images/contacts/func_link_24_hov.png'); }
.help-drawer-btn-links-active img  { background: url('cs_images/contacts/func_link_24_act.png'); }

.help-drawer-content-container {
    background:    #fff;
    border-color:  #d6dfe6;
    border-style:  solid;
    border-width:  1px 0px 1px 0px;
    display:       block;
    float:         left;
}

.help-drawer-content {
    padding:  10px;
    width:    180px;
}

.help-pop-con-sec-text {
    display:       block;
    float:         left;
    width:         140px;
    margin:        10px 0px 10px 10px;
}

.help-pop-con-h1 {
    color:         #393939;
    display:       block;
    font-size:     14px;
    font-weight:   bold;
    padding-bottom: 4px;
}

.help-pop-con-h2 {
    color:         #2e63aa;
    display:       block;
    font-size:     12px;
    text-decoration: none;
}

.help-pop-con-phone {
    color:         #000;
    display:       block;
    font-size:     18px;
    font-weight:   bold;
    padding-bottom: 8px;
}

.help-pop-sep {
    background:    #cdd5df;
    height:        1px;
    width:         100%;
}


.help-img-con-chat {
    background:    url('cs_images/contacts/contact_chat.png');
    display:       block;
    height:        27px;
    width:         27px;
    margin-top:    15px;
}

.help-img-con-forum {
    background:    url('cs_images/contacts/contact_forum.png');
    display:       block;
    height:        27px;
    width:         24px;
    margin-top:    15px;
}

.help-img-con-phone {
    background: url('cs_images/contacts/contact_call.png');
    display:       block;
    height:        27px;
    margin-top:    15px;
    width:         28px;
}

.help-img-con-tech-support {
    background:    url('cs_images/contacts/contact_tech_support.png');
    display:       block;
    height:        27px;
    width:         29px;
    margin-top:    15px;
}

.help-pos-flt-left,
.help-pos-flt-left-space,
.help-pos-flt-left-space-right {
    display:        block;
    float:          left;
}

.help-pos-flt-left-space,
.help-pos-space-left {
    margin-left: 4px;
}

.help-pos-flt-left-space-right {
    margin-right: 4px;
}

.help-pos-newline {
    clear:   both;
    display: block;
}

.help-dash-bx-title {
    color:         #252525;
    display:       block;
    font-size:     16px;
    font-weight:   bold;
    padding-bottom: 17px;
}

.help-dash-bx-quicklink {
    display:       block;
    font-weight:   bold;
    padding-bottom: 14px;
}

.help-dash-bx-account-asof {
    color:         #818385;
    display:       block;
    font-size:     12px;
    font-weight:   bold;
    padding-bottom: 10px;
}

.help-dash-bx-account-label {
    color:         #818385;
    display:       block;
    font-size:     12px;
    font-weight:   bold;
    padding:       6px 0px 0px 4px;
}

.help-dash-bx-account-value {
    color:         #252525;
    font-size:     12px;
    font-weight:   bold;
    padding:       0px 0px 0px 8px;
}

.help-dash-bx-account-value-text {
    color:         #818385;
    font-size:     11px;
    font-weight:   bold;
    padding:       0px 0px 0px 0px;
}

.help-title-help,
.help-dash-label-help {
    height:  14px;
    width:   14px;
    background:    url('cs_images/contacts/help-field.png') -6px -7px;
}

.help-title-help {
    margin: 4px 10px 0px 0px;
}



.help-drawer-btn-chat,
.help-drawer-btn-contact,
.help-drawer-btn-chat-active,
.help-drawer-btn-contact-active {
    border-top: 1px solid #d6dfe6;
    border-left: 1px solid #d6dfe6;
    display:       block;
    padding:       8px;
    width:   32px;
    height:  32px;
    border-radius:          5px 0px 0px 5px;
    -moz-border-radius:     5px 0px 0px 5px;
    -webkit-border-radius:  5px 0px 0px 5px;
}

.help-drawer-btn-chat,
.help-drawer-btn-contact {
    background:     #eff2f3;
    border-right: 1px solid #d6dfe6;
}

.help-drawer-btn-chat-active,
.help-drawer-btn-contact-active {
    background:    #ffffff;
    border-right: 1px solid #ffffff;
}

.help-drawer-btn-chat:before           { content: url('cs_images/contacts/func_chat_24_ena.png'); }

.help-drawer-btn-chat:hover:before     { content: url('cs_images/contacts/func_chat_24_hov.png'); }

.help-drawer-btn-contact:before        { content: url('cs_images/helpDrawer/help.png'); }

.help-drawer-btn-contact:hover:before  { content: url('cs_images/helpDrawer/help.png');}

.help-drawer-btn-chat-active:before    { content: url('cs_images/contacts/func_chat_24_act.png'); }

.help-drawer-btn-contact-active:before { content: url('cs_images/helpDrawer/help.png');}


.help-drawer-btn-chat,
.help-drawer-btn-call,
.help-drawer-btn-help,
.help-drawer-btn-chat-active,
.help-drawer-btn-call-active,
.help-drawer-btn-help-active {
    /*border-top: 1px solid #d6dfe6;
    border-left: 1px solid #d6dfe6;*/
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    width: 24px;
    height:  24px;
    margin-left: auto;
    margin-right: auto;
    /*border-radius:          5px 0px 0px 5px;
    -moz-border-radius:     5px 0px 0px 5px;
    -webkit-border-radius:  5px 0px 0px 5px;*/
}

.help-drawer-btn-chat:before           { content: url('cs_images/contacts/func_chat_24_ena.png'); }

.help-drawer-btn-call:before           { content: url('cs_images/contacts/func_phone_24_ena.png'); }

.help-drawer-btn-help:before           { content: url('cs_images/helpDrawer/func_clipboard_ena.png'); }

.help-drawer-btn-chat:hover:before     { content: url('cs_images/contacts/func_chat_24_hov.png'); }

.help-drawer-btn-call:hover:before     { content: url('cs_images/contacts/func_phone_24_hov.png'); }

.help-drawer-btn-help:hover:before     { content: url('cs_images/helpDrawer/func_clipboard_hov.png'); }

.help-drawer-btn-chat:active:before    { content: url('cs_images/contacts/func_chat_24_act.png'); }

.help-drawer-btn-call:active:before    { content: url('cs_images/contacts/func_phone_24_act.png'); }

.help-drawer-btn-help:active:before { content: url('cs_images/helpDrawer/func_clipboard_act.png'); }

.help-drawer-btn-chat-act,
.help-drawer-btn-call-act,
.help-drawer-btn-help-act,
.help-drawer-btn-chat-act-active,
.help-drawer-btn-call-act-active,
.help-drawer-btn-help-act-active {
    /*border-top: 1px solid #d6dfe6;
    border-left: 1px solid #d6dfe6;*/
    display: block;
    padding-left: 12px;
    padding-right: 12px;
    width: 24px;
    height:  24px;
    margin-left: auto;
    margin-right: auto;
    /*border-radius:          5px 0px 0px 5px;
    -moz-border-radius:     5px 0px 0px 5px;
    -webkit-border-radius:  5px 0px 0px 5px;*/
}

.help-drawer-btn-call-act:hover,
.help-drawer-btn-chat-act:hover,
.help-drawer-btn-help-act:hover {
    /*border: 1px solid #d6dfe6;*/
}

.help-drawer-btn-chat-act:before    { content: url('cs_images/contacts/func_chat_24_act.png'); }

.help-drawer-btn-call-act:before    { content: url('cs_images/contacts/func_phone_24_act.png'); }

.help-drawer-btn-help-act:before { content: url('cs_images/helpDrawer/func_clipboard_act.png'); }

.help-drawer-container {
    background:    #fff;
    border-color:  #d6dfe6;
    border-style:  solid;
    border-width:  1px 0px 1px 0px;
    display:       block;
    float:         left;
}

.help-drawer-content {
    padding:  20px;
    width:    260px;
}

.help-drawer-line {
    color: #d6dfe6;
    width: 260px;
}

.help-drawer-title {
    font-family: Helvetica;
    font-size: 20px;
    color: #4a85c5;
    font-weight: normal;
    text-align: left;
}

.help-drawer-img {
    display: block;
    height: 32px;
    width: 32px;
}

.help-drawer-subtitle {
    font-family: Helvetica;
    font-size: 16px;
    color: #4a85c5;
    font-weight: normal;
    text-transform: uppercase;
    text-align: left;
    padding-left: 10px;
}

.help-drawer-options {
    font-family: Helvetica;
    font-size: 14px;
    color: #353637;
    font-weight: normal;
    line-height: 22px;
}

.help-drawer-options:hover {
    font-family: Helvetica;
    font-size: 14px;
    color: #4a85c5;
    font-weight: normal;
    line-height: 22px;
    text-decoration: underline;
}

.help-drawer-suboptions {
    font-family: Helvetica;
    font-size: 12px;
    color: #757778;
    font-weight: normal;
}

.help-drawer-suboptions:hover {
    font-family: Helvetica;
    font-size: 12px;
    color: #4a85c5;
    font-weight: normal;
    text-decoration: underline;
}

.help-drawer-video {
    display: inline-block;
    vertical-align: middle;

}

.help-drawer-top-separator {
    font-family: Helvetica;
    font-size: 36px;
    color: #757778;
    font-weight: normal;
}

