
.menu-div-body {
   transition: all 0.5s ease-in-out;
   overflow-x: hidden;
   height: 100%;
}

.menu-div {
    background-color: #313334;       
    color: #c0c4c8;
    /*color: #ffffff;*/
    float: left;
    transition: all 0.5s ease-in-out;
    height: 100%;
    overflow-x: hidden;
    line-height: 50px;
    font-family: Arial,sans-serif;
    position: relative;
}

.menu-div ul {
    padding-left: 0px;
    position: relative;
    display:inline-block;
    transition: all 0.5s ease-in-out;
    position: absolute;
    vertical-align: top;
    width: 100%;
    overflow-x: hidden;
}
.menu-div li {
    list-style-type: none;
    padding-left: 50px;
    width: 100%;
    line-height: 50px;    
    font-size: 14px; 
}

.menu-div li.active.selected {
    color: #fafafa;
    background-color: #292a2b;
    border-left: 3px solid #0572ce;
    cursor: pointer;
}

.menu-div li.menu-title {
    color: #ffffff;
    text-align: center;
    padding-left: 0px;
    margin-left: -20px;
    white-space: nowrap;
    font-weight: bold;
}

.menu-div li.active {
    cursor: pointer;
    border-left: 3px solid #313334;
}

.menu-div li.disabled {
    color: #c0ba9e;
    background-color: #333333;
    border-left: 3px solid #333333;
}


.menu-div.mousehover li:not(.selected).active:hover,
.menu-div li:not(.selected).active.keyhover{
    background-color: #292a2b;
    color: #85bbe7;
    cursor: pointer;
    border-left: 3px solid #85bbe7;
}

.menu-div li:not(.selected).active:active {
    color: #fafafa;
    background-color: #222426;    
    cursor: pointer;
    border-left: 3px solid #0572ce;
}

.menu-div li a {
    color: inherit;
    text-decoration: none;
}

.menu-btn-icon {
    background: url('../cs_images/func_menu_24_ena.png') center center no-repeat;
    cursor: pointer;
    width: 42px;
    height: 42px;
    display: block;
    float: left;  
    border: 1px solid #d9dfe3;
}

.menu-btn-icon:hover {
    background: url('../cs_images/func_menu_24_hov.png') center center no-repeat;
}

.menu-btn-icon:active {
    background: url('../cs_images/func_menu_24_act.png') center center no-repeat;
}

.menu-item-border {
    width: 100%;
    height: 0px;
    border-bottom: 1px solid #47494c
}

