<style>
		#square {
	width: 100px;
	height: 100px;
	background: red;
}
</style>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
		<span style="font-size:20px;">	9:00am - 9:45am	</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic1">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:22px;">	Data Warehousing in a Heterogeneous World with Oracle	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:14px; text-align: right; margin-left: 60px;">	Moscone West - Room 3005	</span></span>	George Lumpkin, Vice President, Product Management, Oracle
				<p class="oj-p" style="font-size:16px;">	The demands on data warehouses are increasing; every organization is making more use of analytics. Within IT organizations, new architectures and solutions have arisen to meet those demands. The monolithic data warehouses of years past have given way to heterogeneous architectures that harness more computing power and more types of analytics across larger volumes of data. This session examines how Oracle Database is leading these trends, broadening its capabilities, and expanding to hybrid cloud solutions. For those who just want to hear about the new relational features for data warehousing, that is covered as well. This session has something for everyone: architect, DBA, big data developer, and big data scientist. 	<br><br>
			</div>
			<div id="ic	2">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	green	; border:0px;"></span>	<span style="font-size:20px;">	Using Deep Learning and Natural Networks in Oracle Database 18c	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3001	</span></span>Brendan Tierney, Oralytics
				Neil Chandler, Database Administrator, Chandler Systems Ltd"
				<p class="oj-p" style="font-size:16px;">	Oracle Database 18c comes with many new and exciting machine learning algorithms. This session explores these new features and presents live demonstrations of how to use them to gain deeper insights into your customer data. In addition to the in-database deep learning feature, this session also examines how additional deep learning can be embedded into the database using the R extensibility framework. Using RESTful services learn how you can now bring deep machine learning to developers, enabling them to build advanced applications utilizing the power of Oracle Database in the cloud.	<br><br>
			</div>
			<div id="ic	3">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	orange	; border:0px;"></span>	<span style="font-size:20px;">	The Modern Data Lake: An Autonomous Platform for Data Science	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3010	</span></span>	Praveen Deshpande, Director, Product Management, Oracle
				<p class="oj-p" style="font-size:16px;">	Data lakes have traditionally been built on Hadoop but with the advent of cloud-based object storage there’s a new architecture in town. In this session learn how to build an autonomous data lake that is more elastic and lower cost than a Hadoop-based lake. The session also covers the ecosystem surrounding the data lake including both data integration (ingestion, transformation) and data science.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c2" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
		<span style="font-size:20px;">	10:30am - 11:45am	</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic4">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	orange	; border:0px;"></span>	<span style="font-size:20px;">	Querying Data Across Oracle Cloud the Easy Way	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3005	</span></span>	Martin Gubar, Product Management Director, Oracle
				<p class="oj-p" style="font-size:16px;">	Do you have a data warehouse and wish it were easier to add new sources to it—without going through a long data curation process? Do you need self-service discovery to allow users to upload new data, combine that with data in the warehouse, and then access it with your favorite BI or query tool? Self-service must be easy: no databases or servers to manage, and you only pay for what you use. This session explores the spectrum of data management and query requirements and introduces some exciting new cloud services that Oracle plans to deliver.	<br><br>
			</div>
			<div id="ic5">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Beyond SQL Tuning: Insider's Guide to Maximizing SQL Performance	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate A	</span></span>	Ashish Agrawal, Group Product Manager, IT Analytics Oracle Management Cloud, Oracle
				<p class="oj-p" style="font-size:16px;">	Automatic Workload Repository (AWR), Active Session History (ASH) and SQL monitoring hold a wealth of SQL performance data. SQL analytics leverages the rich SQL data in AWR, ASH, and SQL monitoring data using purpose-built machine learning to provide unique insights into SQL performance problems for your enterprise databases running on premise or on cloud. In this session learn to recognize patterns of SQL performance issues across all your Oracle Databases; perform a historical, comparative analysis to find any SQL bottlenecks or plan regression; and identify SQL performance anomalies and their root causes.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c3" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
		<span style="font-size:20px;">	11:00am - 12:15pm	</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic6">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Oracle Autonomous Database Cloud	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	The Exchange, Moscone South - The Arena	</span></span>	Andrew Mendelsohn, Executive Vice President Database Server Technologies, Oracle
				<p class="oj-p" style="font-size:16px;">	Oracle Chairman and Chief Technology Officer Larry Ellison describes the Oracle Autonomous Database Cloud as "probably the most important thing Oracle has ever done." In his annual Oracle OpenWorld address, Oracle Executive Vice President Andy Mendelsohn shares the latest updates from the Database Development team along with customer reaction to Oracle Autonomous Database Cloud.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c4" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
		<span style="font-size:20px;">	11:30am- 12:15pm	</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic7">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	orange	; border:0px;"></span>	<span style="font-size:20px;">	Do More with Data Lake in the Cloud: Solution Patterns	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3009	</span></span>	Wes Prichard, Oracle
				<p class="oj-p" style="font-size:16px;">	With data and analytics driving digital transformation, organizations in every industry are looking to data technologies to enable transformation through specific use cases. In this session see how different combinations of Oracle’s cloud services centered around a data lake can address many different use cases.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c5" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">
		<span style="font-size:20px;">	12:15pm - 1:15pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic8">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	grey	; border:0px;"></span>	<span style="font-size:20px;">	Hands-on LAB: Query Streams, Data Lakes, and Databases Using Oracle Big Data SQL	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Marriott Marquis (Yerba Buena Level) - Salon 3/4	</span></span>	Martin Gubar, Product Management Director, Oracle
				<p class="oj-p" style="font-size:16px;">	Data platforms are becoming increasingly complex. Kafka is widely used for real-time stream processing. Data lakes are persisting massive volumes of historical and unstructured data. Oracle Databases capture the critical information required to run your business. Each data store contains valuable data, yet insights are achieved by correlating queries across these stores. In this session learn how Oracle Big Data SQL easily enables these insights, leveraging your existing investment in applications and skillsets while keeping information safe using Oracle’s advanced security policies.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c6" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	1:45pm - 3:00pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	9">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	AFTERNOON KEYNOTE	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	KEYNOTE - Moscone North - Hall D	</span></span>	Oracle Executives
				<p class="oj-p" style="font-size:16px;">	Monday afternoon's main Keynote event	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c7" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	3:45pm - 4:30pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	10">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Oracle Autonomous Data Warehouse Cloud: Data Warehousing for Everybody 	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3005	</span></span>	George Lumpkin, Vice President, Product Management, Oracle
				<p class="oj-p" style="font-size:16px;">	Probably the most complex systems in enterprises, data warehouses tend to be on-premises and require highly skilled personnel. That's the common perception anyway. But if you are a business user that just wants to analyze data quickly and efficiently, there is something out there in the cloud especially for you. Come to this session to learn more.	<br><br>
			</div>
			<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
				<div id="ic11">
					<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Do We Still Need to Design Databases?	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3002	</span></span>	Heli Helskyaho, CEO, Miracle Finland Oy
					<p class="oj-p" style="font-size:16px;">	Hardware is cheap, the cloud is here, and resources are all but unlimited. It has been suggested that given this, there is no need to design databases anymore. But a database is not a garbage can you can store anything without understanding what you have. Data is the most valuable property most companies possess, and it should be treated as such. If you want to have good-quality data to base your critical business decisions on, you MUST design your databases. Additionally, now that autonomous databases take care of the boring work, there is time to really design the databases. In this session explore how to design databases directly to the Oracle Cloud using Oracle SQL Developer Data Modeler.	<br><br>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c8" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	3:45pm - 4:45pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	12">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	grey	; border:0px;"></span>	<span style="font-size:20px;">	Hands-on Lab: Upgrade and Migrate to Oracle Database 18c	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Marriott Marquis (Yerba Buena Level) - Salon 1/2	</span></span>Cindy Lim, Consulting Member of Technical Staff, Oracle
				Roy Swonger, Vice President, Database Upgrade & Utilities, Oracle
				Mike Dietrich, Master Product Manager - Database Upgrades and Migrations, Oracle"
				<p class="oj-p" style="font-size:16px;">	In this hands-on lab learn to upgrade to Oracle Database 18c and then convert it to a pluggable database (PDB) and plug it into a multitenant container database (CDB). Attendees also migrate a second 11.2.0.4 database directly into an Oracle Database 18c PDB using the Full Transportable Export/Import feature. This is a great way to get hands-on experience with different upgrade and migration methods, all under the tutelage of Oracle’s database upgrade team. If time permits, the session also explores several optional areas such as unplug/plug/upgrade, fallback scenarios, working with SQL plan management, and more.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c9" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	4:45pm - 5:30pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	13">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Oracle Optimizer and the Road to the Latest Generation of Oracle Database	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3005	</span></span>	Nigel Bayliss, Senior Principal Product Manager, Oracle
				<p class="oj-p" style="font-size:16px;">	Over the past decade or so, Oracle has added a significant number of new features to Oracle Optimizer, and it's easy to forget that Oracle Database 11g Release 2 went production all the way back in 2009. This session explores the most significant features Oracle has added to Oracle Optimizer, beginning with Oracle Database 12c and then all the way up to the latest generation of Oracle Database. Learn how to set up Oracle Optimizer according to best practices, and see what has changed with each release. Discover how to manage change effectively and reduce risk as you upgrade and evolve your business-critical applications.	<br><br>
			</div>
			<div id="ic14">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Oracle Autonomous OLTP Database Cloud Overview and Roadmap	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3003	</span></span>Maria Colgan, master product manager at Oracle Corporation , Oracle
				Juan Loaiza, Senior Vice President, Oracle"
				<p class="oj-p" style="font-size:16px;">	We are entering a new era in databases with the introduction of Oracle Autonomous OLTP Database Cloud. But what does this mean to your organization and how you achieve your key data management goals? This session provides a clear understanding of how the unique Oracle Autonomous OLTP Database Cloud works and illustrates how it can simplify your approach to data management and accelerate your transition to the cloud.	<br><br>
			</div>
			<div id="ic	15">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Data Warehouse Like a Tech Startup with Oracle Autonomous Data Warehouse Cloud	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3006	</span></span>	Mark Rittman, Managing Director, MJR Analytics ltd
				<p class="oj-p" style="font-size:16px;">	Tech startups can't afford DBAs, and they don't have time to provision servers and scale them up and down or deal with patches or downtime. They've never heard of indexes and they need data loaded and ready for analysis in days, not months. In this session learn how Oracle Database developers can build data warehouses as a hip startup data engineer would—but using a proper database built on Oracle technology. Oracle Data Visualization Desktop provides analytics and data exploration with techniques explained in this session. Hear real-world development experiences from working on data and analytics projects at a tech startup in the UK.	<br><br>
			</div>
			<div id="ic16">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	green	; border:0px;"></span>	<span style="font-size:20px;">	Introduction to Graph Analytics and Oracle Graph Cloud Service	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3004	</span></span>Alan Wu, Architect, Oracle
				Jean Ihm, Senior Principal Product Manager, Oracle
				Hans Viehmann, Oracle"
				<p class="oj-p" style="font-size:16px;">	Graph analysis employs powerful algorithms to discover relationships in social networks, IoT, big data, data warehouses, and complex transaction data. The low-code, highly automated services for data scientists and developers in Oracle Graph Cloud Service will simplify the creation and management of graphs and allow for powerful graph analysis of database, data warehouse, and data lake content. In this session see an overview and demos of Oracle Graph Cloud Service as well as the other graph technologies for Oracle Cloud, Oracle Database, NoSQL, Spark, and Hadoop including PGX analytics and PGQL property graph query language.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c10" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	5:15pm - 6:15pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	17">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	grey	; border:0px;"></span>	<span style="font-size:20px;">	Hands-on Lab: Oracle Multitenant	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Marriott Marquis (Yerba Buena Level) - Salon 1/2	</span></span>Can Tuzla, Product Manager, Oracle
				Giridhar Ravipati, Consulting Member of Technical Staff, Oracle
				Sanket Jain, Consulting Member of Technical Staff, Oracle"
				<p class="oj-p" style="font-size:16px;">	This is your opportunity to get up close and personal with Oracle Multitenant. In this session learn about a very broad range of Oracle Multitenant functionality in considerable depth. Warning: This lab has been filled to capacity quickly at every Oracle OpenWorld that it has been offered. It is strongly recommended that you sign up early. Even if you're only able to get on the waitlist, it's always worth showing up just in case there's a no-show and you can grab an available seat.	<br><br>
			</div>
			<div id="ic	18">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	blue	; border:0px;"></span>	<span style="font-size:20px;">	HANDS-ON LAB: Oracle Autonomous Database Cloud Driving School - BYOL	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Marriott Marquis (Yerba Buena Level) - Salon 9B	</span></span>Manoj Moteka, Consulting Member of Technical Staff, Oracle
				Suresh Viswanathan, Consulting Member of Technical Staff, Oracle
				Kesari Mandyam, Principal Member of Technical Staff, Oracle"
				<p class="oj-p" style="font-size:16px;">	Fasten your seatbelts and get in the driver’s seat of Oracle Autonomous Database Cloud. In this session learn to provision, use, and manage the solution while also getting a peek under the hood. This is a hands-on lab and each participant is provided a cloud account but must bring their own laptop. PLEASE NOTE: YOU MUST BRING YOUR OWN LAPTOP (BYOL) TO PARTICIPATE IN THE HANDS-ON LABS.	<br><br>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c11" data-bind="ojComponent: {component: 'ojCollapsible', expanded:true}">	<span style="font-size:20px;">	5:45pm - 6:30pm</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
			<div id="ic	19">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	What Everyone Should Know About Oracle Partitioning	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3005	</span></span>	Hermann Baer, Senior Director Product Management, Oracle
				<p class="oj-p" style="font-size:16px;">	Oracle Partitioning has proven itself over the course of decades and ensures that tens of thousands of systems run successfully day in and out. But do you really know Oracle Partitioning? Whether you are using it already or are planning to leverage it, this is the time for you to check your knowledge. Attend this session to learn about all the things you already should know about Oracle Partitioning, including the latest innovations of this most widely used functionality in the Oracle Database.	<br><br>
			</div>
			<div id="ic	20">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	Get Ready for Brain Overload with Oracle Database 12.2 and 18c New Features	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3002	</span></span>Charles Kim, Oracle ACE Director, Viscosity North America
				Jerry Ward, Managing Partner, Viscosity North America"
				<p class="oj-p" style="font-size:16px;">	Oracle Database 12c Release 2 and Oracle Database 18c are packed with enhancements for DBAs and developers. In this session learn about all the pertinent new features that will change how you perform maintenance and tune the database. Be prepared to have mind overloaded. Topics covered include upgrading to Oracle Database 12.2, online improvements, the partitioning option, the multitenancy (pluggable database) option, Oracle Data Guard, Oracle Recovery Manager, Oracle Real Application Clusters, Oracle Automatic Storage Management Cluster File System, in-memory features, and database upgrade options. Oracle DBAs/developers can take immediate advantage of these new features.	<br><br>
			</div>
			<div id="ic21">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	red	; border:0px;"></span>	<span style="font-size:20px;">	18(ish) Things Developers Will Love About Oracle Database 18c	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3009	</span></span>	Chris Saxon, Developer Advocate for SQL, Oracle
				<p class="oj-p" style="font-size:16px;">	Oracle Database 18c marks the start of a new yearly release schedule and version numbering system. As always, there are lots of cool new features to help developers build better applications using Oracle Database. This session covers the key new SQL and PL/SQL features of Oracle Database that will make it easier to write faster, robust, secure applications using Oracle Database. If you're a developer or DBA who regularly writes SQL or PL/SQL and wants to keep up-to-date, this session is for you.	<br><br>
			</div>
			<div id="ic	22">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	green	; border:0px;"></span>	<span style="font-size:20px;">	How to Analyze Data Warehouse Data as a Graph	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3004	</span></span>Jayant Sharma, Senior Director, Product Management, Oracle
				Korbi Schmid, Engineering Manager, Oracle"
				<p class="oj-p" style="font-size:16px;">	In this session gain new insights into your analytics data using graph analysis and database technologies. See a pipeline used to explore industry-specific datasets and analyze it with the power of graphs. Using retail, telco, and airline datasets, learn how to access database schema, use automated tools to create a graph model, and perform a range of graph analyses to reveal relationships and perform connectivity-based queries. Learn how to use Property Graph Query Language (PGQL) to traverse and query the graph to discover relationships and impacts; invoke PGX graph analytics to discover anomalies, influencers, and communities in data; and visualize the results as a graph in an interactive notebook environment.	<br><br>
			</div>
			<div id="ic22">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	blue	; border:0px;"></span>	<span style="font-size:20px;">	What’s New for Oracle SQL Developer	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3006	</span></span>	Jeff Smith, Senior Principal Product Manager, Oracle
				<p class="oj-p" style="font-size:16px;">	There are many new and exciting development for Oracle SQL Developer. Brand new features and brand new ways to run the tool for your organization. In this session learn about all that and see how part of it is now available for you to run in your own custom Java applications.	<br><br>
			</div>
			<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
				<div id="ic23">
					<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:	white	; width:25px;height:25px; background-color:	orange	; border:0px;"></span>	<span style="font-size:20px;">	Big Data Lab Powered by Data Science	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:16px; text-align: right; margin-left: 60px;">	Moscone West - Room 3010	</span></span>Wes Prichard, Oracle
					ali Masood, Senior Director, Big Data Go-To-Market, Oracle"
					<p class="oj-p" style="font-size:16px;">	Experimenting with machine learning and deep learning capabilities is a key goal for data scientists. In this session learn how data scientists set up a data lab, build and populate a data lake, and apply machine learning models to address needs of the business.	<br><br>
				</div>
			</div>
		</div>
	</div>
</div>			
