<html>
	<head>
		<title>Proposed OOW Schedule Viewer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
		<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c1">
				<span style="font-size:26px;">9:00am - 9:45am</span>
				<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
					<div id="ic1">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	What's new in Oracle Database 12c for Data Warehousing	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">MOSCONE SOUTH 101C	</span></span>
						<p class="oj-p" style="font-size:20px;">The demands on data warehouses are increasing -- every organization is making more and more use of analytics. Within IT organizations, new architectures and solutions have arisen to meet those demands. The monolithic data warehouses of years past have given way to heterogeneous architectures which harness more computing power and more types of analytics across larger volumes of data. This session examines how Oracle Database 12c is leading these trends, broadening its capabilities and expanding to hybrid cloud solutions. For those who just want to hear about the new relational features for data warehousing, we'll always cover those. This session has something for everyone: architect, DBA, big data developer, and big data scientist.
						</p>
					</div>
					<div id="ic2">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	Revolutionize Analytics with Oracle Database In-Memory – Latest and Futures	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	MOSCONE SOUTH 102D	</span></span>
						<p class="oj-p" style="font-size:20px;">	With Oracle Database In-Memory’s industry-first “dual format” architecture, users can transparently accelerate analytics by orders of magnitude and get immediate answers to questions that previously took hours or longer. Learn how the “dual format” architecture works and how Database In-Memory seamlessly integrates with key performance and availability features such as Real Application Clusters, Partitioning, Active Data Guard and Software-In-Silicon. Also learn about new functionality including Cell Memory - the extension of Database In-Memory to Exadata Flash. You will also get a sneak peek at the next generation of Oracle Database In-Memory, and how it can be seamlessly integrated with your big data environment.
						</p>
					</div>
					<div id="ic3">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	Memory Without Bounds-Policy Based Automation of In-Memory Column Store Content	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	MOSCONE SOUTH 103E	</span></span>
						<p class="oj-p" style="font-size:20px;">	Automatic Data Optimization (ADO) has been extended to support Oracle Database In-Memory. ADO policies can be used to automatically manage the contents of the Oracle Database In-Memory column store. Learn how you can add the In-Memory column store to your Information Lifecycle Management (ILM) strategy by defining both heat map-based and custom policies to control the population and eviction of objects, as well as the recompression of objects to a higher level within the Oracle Database In-Memory column store. This session will also cover how to combine Oracle Database In-Memory, database compression, and storage tiering policies to provide a comprehensive ILM solution to automatically manage and optimize your Oracle Database storage.
						</p>
					</div>
				</div>
			</div>
			<div id="c3">
				<span style="font-size:26px;">10:00am - 10:45am</span>
				<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
					<div id="ic1">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	Oracle Exadata: Disruptive New Memory and Cloud Technologies	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	MOSCONE SOUTH 103E	</span></span>
						<p class="oj-p" style="font-size:20px;">	The Oracle Exadata architecture is being transformed to provide the world's most advanced Cloud and in-memory functionality for both OLTP and Analytics using RDMA, DRAM, Non-Volatile Memory, and Vector Processing. This talk gives an overview of current and future Exadata capabilities, including disruptive In-Memory, Public Cloud and Cloud at Customer technologies
						</p>
					</div>
					<div id="ic2">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	What everybody should know about Oracle Partitioning	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	MOSCONE SOUTH 103E	</span></span>
						<p class="oj-p" style="font-size:20px;">	Oracle Partitioning has proven itself over the course of decades and is widely known by Oracle customers, ensuring that tens of thousands of systems run successfully day in and out. Yes, you know Partitioning you will think. But do you really? Whether you are using Partitioning already or are planning to leverage it, this is the time for you to check your knowledge. Attend this session to learn about all the things you already should know about Partitioning, including the latest innovations of this most widely used functionality in the Oracle Database.
						</p>
					</div>
					<div id="ic3">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span><span style="font-size:26px;">	Get Some Sleep at Night: Use the Optimizer’s Plan Stability Features	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	MOSCONE SOUTH 103E	</span></span>
						<p class="oj-p" style="font-size:20px;">	This session will describe strategies to manage SQL execution plans to meet your service-level goals for every application. Oracle Database has a number of features that control and constrain SQL execution plans, and this session will show when to apply SQL plan baselines, SQL profiles and other features features to ensure the highest levels of stability and performance for every type of database application. Furthermore, the requirement to control SQL execution plans can become more pressing if you're planning to upgrade your most critical systems. For this reason, you can also expect to get some tips on how to smooth your journey to Oracle Database 12c.
						</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
