<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
	<head>
		<title>Proposed OOW Schedule Viewer</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

	</head>
	<body>
       
		<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c1">
				<span style="font-size:26px;">9:00am - 9:45am</span>
				<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
					<div id="ic1">
						<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color: red;"></span>
							<span style="font-size:26px;">DWCS Roadmap</span><br>
							<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:20px;">I'm collapsible inside an inner accordion.</p>
					</div>
					<div id="ic2">
						<span style="font-size:12px;"><span class="demo-icon-font demo-education-icon-24" style="color: blue"></span>
							XML Roadmap<br>
							<span class="oj-text-xs oj-text-secondary-color" style="text-align: right; margin-left: 60px;" >Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:10px;">Another collapsible inside an inner accordion.</p>
					</div>
				</div>
			</div>
			<div id="c3">
				<span style="font-size:26px;">10:00am - 10:45am</span>
				<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
					<div id="ic1">
						<span style="font-size:12px";><span class="demo-icon-font demo-education-icon-24" style="color: orange;"></span>
							Big Data SQL in the Cloud<br>
							<span class="oj-text-xs oj-text-secondary-color" style="text-align: right; margin-left: 60px;">Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:10px";>I'm collapsible inside an inner accordion.</p>
					</div>
					<div id="ic2">
						<span style="font-size:12px";><span class="demo-icon-font demo-education-icon-24" style="color: red"></span>
							Partitioning 101 for DBAs<br>
							<span class="oj-text-xs oj-text-secondary-color" style="text-align: right; margin-left: 60px;" >Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:10px";>Another collapsible inside an inner accordion.</p>
					</div>
				</div>
			</div>
			<div id="c4">
				<span style="font-size:26px;">11:00am - 11:45am</span>
				<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}" >
					<div id="ic1">
						<span style="font-size:12px";><span class="demo-icon-font demo-education-icon-24" style="color: purple;"></span>
							Analytical SQL in Database 12c Release 2 in the Cloud<br>
							<span class="oj-text-xs oj-text-secondary-color" style="text-align: right; margin-left: 60px;">Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:10px";>I'm collapsible inside an inner accordion.</p>
					</div>
					<div id="ic2">
						<span style="font-size:12px";><span class="demo-icon-font demo-education-icon-24" style="color: green"></span>
							Pattern Matching<br>
							<span class="oj-text-xs oj-text-secondary-color" style="text-align: right; margin-left: 60px;" >Moscone South 103B</span>
						</span>
						<p class="oj-p" style="font-size:10px";>Another collapsible inside an inner accordion.</p>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>
