<style>
#square {
width: 100px;
height: 100px;
background: red;
}
</style>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1"><span style="font-size:32px;"> 9:45PM - 10:30AM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c1">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:red; width:25px;height:25px; background-color:red; border:0px;"></span><span style="font-size:20px;">Multitenant: Trust It by Understanding Beyond What Is Documented</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Golden Gate Level) - Golden Gate A</span></span>Franck Pachot, Database Administrator, dbi services sa
				<p class="oj-p" style="font-size:20px;">The big change in multitenant architecture is the dictionary split. And this is what scares us at first: those new mechanisms (metadata and object links) look like magic hooks. Can we trust them? In this session see how it works internally and you will gain confidence—and maybe even admiration—for this new architecture.<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=%22Multitenant:%20Trust%20It%20by%20Understanding%20Beyond%20What%20Is%20Documented%22&showEnrolled=false" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c2"><span style="font-size:32px;"> 12:45PM - 1:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c2">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:green; width:25px;height:25px; background-color:green; border:0px;"></span><span style="font-size:20px;">My Favorite Oracle Database 12c R2 New Features</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Yerba Buena Level) - Salon 10/11</span></span>Galo Balda, Database Engineer, Texas Health & Human Services Commission
				<p class="oj-p" style="font-size:20px;">In this presentation, I will show the new Oracle Database 12c R2 features that I find the most exciting and that I think will help you to build more robust database applications. Key points to be covered: PL/Scope Reports on Static SQL Statements, Enhanced CAST Function with Error Handling, New SQL and PL/SQL Function VALIDATE_CONVERSION, Enhanced LISTAGG Functionality, Long Identifiers, Online Conversion of a Non-partitioned Table to a Partitioned Table, Online Table Move.<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN6254" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
			<div id="ic3">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:blue; width:25px;height:25px; background-color:blue; border:0px;"></span><span style="font-size:20px;">GET POST ORDS JSON: Web Services for APEX Decoded</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Yerba Buena Level) - Salon 4-6</span></span>Scott Spendolini, Co-Founder, Sumner Technologies
				<p class="oj-p" style="font-size:20px;">Web Services in the APEX world are becoming more and more popular. However, there is still a lot of confusion as to what they are and how they could benefit the APEX developer. After a review of the syntax and jargon associated with web services, this session will review and boil down web services to their basic components. It will then demonstrate how APEX developers can start to use these powerful components - both to send and receive data from other sites. <br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN6243" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c3"><span style="font-size:32px;"> 1:45pm - 2:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c4">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:orange; width:25px;height:25px; background-color:orange; border:0px;"></span><span style="font-size:20px;">Kafka, Data Streaming and Analytic Microservices</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Moscone South - Room 157</span></span>Stewart Bryson, Owner and Co-founder, Red Pill Analytics
				<p class="oj-p" style="font-size:20px;">While traditional data warehouses excel at sourcing data from enterprise applications, they usually fail at handling the volume, velocity and variety of data for modern analytics applications relying on Big and Fast Data. Instead of modeling these data sources into a system that doesn't fit, let's apply a new software design pattern to analytics: microservices. In this presentation, we'll explore using Apache Kafka and the Confluent Platform 3.0 as the data streaming hub for ingesting data bound for downstream analytic applications: an enterprise data warehouse, a Hadoop cluster for batch processing, and lightweight, purpose-built microservices in the Cloud or on-premises. Experience the next generation of analytic platforms. <br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN5693" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
			<div id="ic5">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:cyan; width:25px;height:25px; background-color:cyan; border:0px;"></span><span style="font-size:20px;">Alexa! How do you work with Oracle REST Data Services?</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Yerba Buena Level) - Salon 4-6</span></span>Jonathan Dixon, Owner, Cloud Nueva
				<p class="oj-p" style="font-size:20px;">At first glance, Artificial Intelligence (AI) may seem beyond the reach of the citizen ORDS developer. With companies such as Amazon, Google, and Apple providing the interface (aka Alexa, OK Google, and Siri), however, this is no longer the case. In this session, I will demonstrate how you can use Oracle REST Data Services (ORDS) as the gateway to and the Oracle Database as the engine behind Alexa skills that will impress your customers. Alexa! How many orders were placed in the past hour? Alexa! Are there any stuck transactions in ERP Cloud? Alexa! It's time to make ORDS and the Oracle Database cool!<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN6251" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c4"><span style="font-size:32px;"> 2:45PM - 3:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c6">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:red; width:25px;height:25px; background-color:red; border:0px;"></span><span style="font-size:20px;">Exploring Oracle Database Partitioning New Features and Best Practices</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Golden Gate Level) - Golden Gate A</span></span>Ami Aharonovich, CEO, DBAces-ilOUG
				<p class="oj-p" style="font-size:20px;">This session will explore new features and best practices for using various partitioning strategies and features while providing maximum performance and availability, including the latest database partitioning enhancements which take partitioning to perfection, and offer the widest choice of partitioning methods including new partitioning strategies and new key features such as partial indexes, performing online operations and new composite partitioning enhancements<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN5065" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
			<div id="ic7">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:red; width:25px;height:25px; background-color:red; border:0px;"></span><span style="font-size:20px;">The Data-Chain: Oracle's Data Infrastructure as The Basis For Data Warehousing</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Marriott Marquis (Yerba Buena Level) - Salon 12</span></span>Rene Kuipers, Principal Consultant, VX Company
				<p class="oj-p" style="font-size:20px;">From Database 12c (with or without the in-memory option) all the way up to the Exalytics machine and Oracle Business Intelligence Enterprise Edition 12c and the Business Intelligence Cloud Service, every component in this data-chain has its function and role. And sometimes it's hard to decide where to put certain elements of your data chain. From storage perspective, but also from transformation perspective. In this session I will show you how the data-infrastructure I designed for customers in the Netherlands has improved their business processes and cut on their cost.<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN6311" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c5"><span style="font-size:32px;"> 3:45PM - 4:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="c8">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:red; width:25px;height:25px; background-color:red; border:0px;"></span><span style="font-size:20px;">Adapting to Adaptive Plans on 12c</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Moscone South - Room 155</span></span>Mauro Pagano Infrastracture Senior Principal, Accenture Enkitec Group
				<p class="oj-p" style="font-size:20px;">Did you notice that many navigation apps can suggest you in real time to deviate from the initial route because of traffic or accidents?It's pretty cool right? You wanted to take 5th but there is an accident so your initial plan doesn't look so good anymore once you hit the road.Oracle 12c can do the same, the optimizer can generate an execution plan (your route) keeping the door open for changes in case more data than expected is being processed (traffic / accident).This is a great feature but it requires a little shift in the way we think about performance, we need to be more open to changes just like our navigation app.<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN5664" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
			<div id="ic9">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:red; width:25px;height:25px; background-color:red; border:0px;"></span><span style="font-size:20px;">The Best Oracle Database 12c & 12cR2 Tuning Features</span><br><span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">Moscone South - Room 153</span></span>Rich Niemiec, CEO, TEC
				<p class="oj-p" style="font-size:20px;">"This presentation will look at which 12c new features should be investigated for use.  Most of the features that will be covered will be related to the DBA, but there will also be a few outside that realm that focus on the developer.  There will be simple examples (such as a quick example using pluggable databases) to show the basic functionality of the new features:
					Multiple indexes on the same Column
					Adaptive Execution Plans and Continuous Adaptive Plans
					Runaway query Management
					Change Table Compression at import Time
					Online Move Partition & other On-line features
					Partial Indexes for Partitioned Table & other partitioning changes
					Pluggable Databases & flashback PDB
					In Memory Option
					Other 12cR2 New Features."<br><br><a href="https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=SUN5680" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>