<style>
		#square {
	width: 100px;
	height: 100px;
	background: red;
}
</style>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	10:45AM - 11:30AM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic1">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:cyan	; width:25px;height:25px; background-color:cyan; border:0px;"></span><span style="font-size:20px;">	The Top 10 Dos and Don'ts of JSON Processing in a Database	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate A	</span></span>	Beda Hammerschmidt, Oracle
				<p class="oj-p" style="font-size:20px;">	JSON is a popular format because of schema flexibility and easy mapping to programming languages. APIs that consume or generate JSON are typically forgiving when dealing with missing or redundant fields. But all that changes when JSON gets written to disk and large amounts of JSON need to be queried, indexed, or joined. Preserving the benefits of JSON while guaranteeing high query performance is crucial when persisting JSON in a database (whether NoSQL, ObjectStores, or relational). This session presents common mistakes, tips, and tricks acquired from hundreds of customers over the last 10+ years. It covers size considerations, indexing strategies, and good choices for data types—especially for those unknown to JSON, such as dates.	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Hammerschmidt,&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	11:45AM - 12:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic2">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:green	; width:25px;height:25px; background-color:	green; border:0px;"></span><span style="font-size:20px;">	Introduction to Machine Learning with Apache Spark Mllib	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate C1/C2	</span></span>	Taras Matyashovskyy, Staff Engineer, Lohika
				<p class="oj-p" style="font-size:20px;">	Machine learning is overhyped nowadays. There is a strong belief that this area is exclusively for data scientists with in-depth mathematical knowledge who leverage the Python or R ecosystem and use specific tools such as MATLAB or Octave. Of course, there is a big grain of truth in this statement, but we Java engineers also can take the best of the machine learning universe from an applied perspective by using our native language, Java, and familiar frameworks such as Apache Spark. During this introductory session, you will get acquainted with the simplest machine learning tasks and algorithms, such as regression, classification, and clustering; broaden your horizons; use Apache Spark MLlib to distinguish pop music from heavy metal; and simply have fun	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Matyashovskyy&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	1:45PM - 2:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic3">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:cyan	; width:25px;height:25px; background-color:cyan; border:0px;"></span><span style="font-size:20px;">	Essential Kit for Oracle JET Programming	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate A	</span></span>	Andrejus Baranovskis, Chief Executive Officer & Technical Expert, Red Samurai Consulting
				<p class="oj-p" style="font-size:20px;">	This session is packed with practical tips and tricks based on hands-on Oracle JavaScript Extension Toolkit (Oracle JET) programming experience. Learn how to control the Oracle JET router, manage the menu model structure, implement security, and use the Oracle JET API to interact with REST services. If you need to know what’s essential to be productive with Oracle JET—API, validation, navigation, responsive UI—this session is for you.	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Baranovskis,&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	1:45PM - 2:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic4">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:green	; width:25px;height:25px; background-color:	green; border:0px;"></span><span style="font-size:20px;">	Is SQL the Best Language for Statistics and Machine Learning?	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate C3	</span></span>	Brendan Tierney, Oralytics
				<p class="oj-p" style="font-size:20px;">	Did you know that Oracle Database comes with more than 300 statistical functions? And most of these statistical functions are available in all versions of Oracle Database? Most people do not seem to know this. When we hear about people performing statistical analytics, we hear them talking about Excel and R, but what if we could do statistical analysis in the database without having to extract any data onto client machines? This presentation explores the various statistical areas available in Oracle Database and gives several demonstrations. We can also greatly expand our statistical capabilities by using Oracle R Enterprise with the embedded capabilities in SQL	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Tierney&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	1:45PM - 2:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic5">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:green	; width:25px;height:25px; background-color:	green; border:0px;"></span><span style="font-size:20px;">	Operationalizing Machine Learning into “Predictive” Enterprise Applications	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	Marriott Marquis (Golden Gate Level) - Golden Gate C1/C2	</span></span>	Charlie Berger, Oracle
				<p class="oj-p" style="font-size:20px;">	Most data science projects begin with data, “tools,” and scripts but fail to get beyond the data scientist. They hit a wall when attempting to “operationalize” the models. Netflix never implemented the algorithm that won the Netflix $1 Million Challenge. This dichotomy between enterprise and algorithms is eliminated when algorithms are built into the data management platforms. By “moving algorithms to the data,” Oracle Database and Oracle Big Data Cloud Service are now data management and advanced analytical platforms. Developers use SQL, R, and the Oracle Data Miner UI to build, evaluate, and deploy advanced analytical methodologies. In this session, see how to go beyond “tools” to applications. The presentation shows several Oracle “predictive” applications as examples.	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Berger&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>
<div id="accordionPage" data-bind="ojComponent: {component: 'ojAccordion'}">
	<div id="c1">	<span style="font-size:26px;">	2:45PM - 3:30PM</span>
		<div id="nestedAccordion" data-bind="ojComponent: {component: 'ojAccordion'}">
			<div id="ic6">
				<span style="font-size:26px;"><span class="demo-icon-font demo-education-icon-24" style="color:green	; width:25px;height:25px; background-color:	green; border:0px;"></span><span style="font-size:20px;">	The Basics of Machine Learning	</span><br>	<span class="oj-text-xs oj-text-secondary-color" style="font-size:18px; text-align: right; margin-left: 60px;">	 Marriott Marquis (Golden Gate Level) - Golden Gate A	</span></span>	Heli Helskyaho, CEO, Miracle Finland Oy
				<p class="oj-p" style="font-size:20px;">	What is machine learning, and why should I care? This session covers the basic concepts of machine learning: features, instances, binary classification, scoring and ranking, and more. Various models are used in machine learning: logical, geometrical, grouping, probabilistic models, and model ensembles. The presentation discusses those models and touches on concept learning and tree, rule, linear, distance-based, and probabilistic models. After covering the basics of the models used in machine learning, it addresses experiments in machine learning: what to measure, how to measure, and how to interpret the results.	<br><br>	<a href="	https://events.rainfocus.com/catalog/oracle/oow17/catalogoow17?search=Helskyaho&showEnrolled=false	" target="_blank">Click here to view in catalog</a><br>
				</p>
			</div>
		</div>
	</div>
</div>