<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="labGuide" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="labGuide" class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Oracle ADW - Getting Started Workshop</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">
  		<script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular.min.js"></script>
  <script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular-animate.min.js"></script>
  <script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular-aria.min.js"></script>
  <script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular-messages.min.js"></script>
  <script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular-sanitize.min.js"></script>
  <script src="http://localhost/~keithlaker/learning-library/workshops/common-content/public/angular-material.min.js"></script>
  <script src='http://localhost/~keithlaker/learning-library/workshops/common-content/public/jquery-3.1.1.min.js'></script>
  <script src='http://localhost/~keithlaker/learning-library/workshops/common-content/public/showdown.min.js'></script>
		<link type="text/css" rel="stylesheet" href="http://localhost/~keithlaker/learning-library/workshops/common-content/css/angular-material.min.css">
		<link type="text/css" rel="stylesheet" href="http://localhost/~keithlaker/learning-library/workshops/common-content/css/solutionEngTemplate.css">
		<link type="text/css" rel="stylesheet" href="http://localhost/~keithlaker/learning-library/workshops/common-content/css/default-theme.css">
		<link type="text/css" rel="stylesheet" href="http://localhost/~keithlaker/learning-library/workshops/common-content/css/touch-the-cloud-theme.css">

<!--    IF MAKING LOCAL CHANGES ONLY -->
  <!-- <link type="text/css" rel="stylesheet" href="./css/solutionEngTemplate.css">
  <link type="text/css" rel="stylesheet" href="./css/workshop.css">
  <link type="text/css" rel="stylesheet" href="./css/default-theme.css">
  <link type="text/css" rel="stylesheet" href="./css/touch-the-cloud-theme.css"> -->
		<link rel="shortcut icon" href="http://localhost/~keithlaker/learning-library/workshops/common-content/fav.ico" />
		<link type="text/css" rel="stylesheet" href="http://localhost/~keithlaker/learning-library/workshops/common-content/css-new/workshop-new.css">
	</head>
	<body ng-cloak ng-controller="labGuideController" md-theme="{{theme}}" class="{{theme}}" layout="column">

  

    <!--  LAB GUIDE VERSION SELECTION PAGE -->
		<h4 class="infra version-heading" ng-show="hasMultipleVersions && selection == 'chooseVersion'">Please Select a Workshop Version:</h4>
		<div class="version-box" ng-show="hasMultipleVersions && selection == 'chooseVersion'">
			<div ng-repeat="thisVersion in versionsAvailable" class="version-content">
				<md-toolbar ng-class="{ infra: true }" md-theme="theme-{{$index}}" flex="none" layout-padding>
					<div class="md-toolbar-tools infra version-banner">
						<span class="infra version-title"></span>
					</div>
				</md-toolbar>
				<md-content class="infra">
					<div class="infra version-detail">
						<span class="infra"></span>
						<md-button class="infra md-raised md-primary high-contrast-hover" ng-click="version.selected = thisVersion.name">
							Select {{thisVersion.name}} Version
						</md-button>
					</div>
				</md-content>
			</div>
		</div>
		<div id="toastHolder"></div>

    <!--  INTERACTIVE LAB GUIDE CONTENT  -->
		<iframe id='interactive' class="infra" ng-src='{{trustSrc(interactive.src)}}' ng-if="selection == 'interactive'"></iframe>

    <!--  LAB GUIDE CONTENT-->
		<div id='labguide' ng-bind-html='htmlContent' ng-show="selection == 'lab'">
        <!--   content filled dynamically     -->
		</div>
		<div id='returnToTop' layout layout-align="center center" ng-show="selection == 'lab'">
			<a href="#" layout-margin layout-padding>^ Return to Top</a>
		</div>
    <script src='http://localhost/~keithlaker/learning-library/workshops/common-content/js/workshop.js'></script>
    <!-- <script src='https://derekoneil.github.io/WorkshopTemplate/workshops/workshop-template/js/workshop.js'></script> -->
    <!-- <script src='./js/workshop.js'></script> -->
	</body>
</html>
