.page {
  display: flex;
  flex-wrap: wrap;
}

html { font-size: calc(1em + 1vw) }

body {
  font: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", Sans-Serif;
}

.container:before,
.container:after,
.container_header:before,
.container_header:after,
.container_footer:before,
.container_footer:after
 {
  content: "";
  display: table;
}
.container:after, .container_header:after, .container_intro:after, .container_feature:after, container_collateral:after, .container_gl:after, .container_blog:after, .container_sm:after, .container_footer:after, .container_feature_flow:after  {
  clear: both;
}
.container {
	color:white;
	border-width: 0px;
	border-style: solid;
	border-color: silver;
	background-color: white;
  *zoom: 1;
}

.container_header {
	width:100%;
	background-image: url('https://cdn.app.compendium.com/uploads/user/e7c690e8-6ff9-102a-ac6d-e4aebca50425/3f1f9085-e459-4b23-85f7-ed09e21ffb29/Image/ed705612be07f63e051865f2f29ba560/screen_shot_2019_06_14_at_14_26_19.png');
	background-color: red;
	background-repeat: repeat;
    background-size: contain;
}


.container_footer {
	border-top: 0px;
	border-left: 0px;
	border-right: 0px;
	border-bottom: 0px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	text-align: center;
	font-weight: normal;
	line-height: 16px;
  *zoom: 1;
}



.container, .container_intro, .container_feature, .container_feature_flow, .container_collateral, .container_gl, .container_blog, .container_sm, .container_footer, header_section, header_icon, banner_section, intro_section_header {
  border-radius: 0px;
}


header_section {
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  text-align: left;
  font-family:Helvetica;
  text-align:left;
  font-weight:bold;
  color:white;
  font-size:1.5em;
}

header_icon {
  padding: 0px 0px;
  text-align: center;
  margin-top: 2px;
  margin-left: 1px;
  margin-right: 0px;
  border: 0px !important
}

.h4 {
	font-family:Helvetica;
	color:white;
	font-size:1em;
}

collateral_monday {
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	margin-left:0px;
	margin-right:0px;
	margin-right:0px;
	width:100%;
	font-family:arial;
	background-image: url('https://keithlaker.github.io/bdw-oow-19/Images/IMG_0319.jpg');
	background-color: white;
	background-repeat: no-repeat;
    background-size: cover;
	}

collateral_tuesday{
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	margin-left:0px;
	margin-right:0px;
	margin-right:0px;
	width:100%;
	font-family:arial;
	background-image: url('https://keithlaker.github.io/bdw-oow-19/Images/IMG_0338.jpg');
	background-color: white;
	background-repeat: no-repeat;
    background-size: cover;
	}

collateral_wednesday {
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	margin-left:0px;
	margin-right:0px;
	margin-right:0px;
	width:100%;
	font-family:arial;
	background-image: url('https://keithlaker.github.io/bdw-oow-19/Images/IMG_0344.jpg');
	background-color: white;
	background-repeat: no-repeat;
    background-size: cover;

	}


collateral_thursday {
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	margin-left:0px;
	margin-right:0px;
	margin-right:0px;
	width:100%;
	font-family:arial;
	background-image: url('https://keithlaker.github.io/bdw-oow-19/Images/IMG_0345.jpg');
	background-color: white;
	background-repeat: no-repeat;
    background-size: cover;

	}


footer_hardware {
	color:#000000;
	font-family:arial;
	font-size:12px;
	text-align:center;
}

my_signature {
	color:#666666;
	font-family:arial;
	font-size:10px;
    text-align:center;
    margin-bottom:20px;
}
sm_link {
	border-top: 2px;
	border-left: 2px;
	border-right: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: silver;
	background-color: white;
	margin-bottom:15px;
	margin-left:10px;
	margin-right:10px;
}

table.monday {
  width:100%;
  background-color:rgba(0, 151, 19, 0.7);
  height250px;
  text-align:center;
  font-weight:bold;
  color:white;
  font-size:12em;
  border-color:rgba(0, 151, 19, 0.7);
  border: 1px solid rgba(0, 151, 19, 0.7);
}

table.tuesday {
 width:100%;
 background-color:rgba(128, 0, 128, 0.7);
 height:250px;
 text-align:center;
 font-weight:bold;
 color:rgba(255, 255, 255, 2.0);
 font-size:12em;
 border-color: rgba(128, 128, 0, 0.7);
 border: 1px solid rgba(128, 0, 128, 0.7);
}

table.wednesday {
 width:100%;
 background-color:rgba(192, 192, 192, 0.7);
 height:250px;
 text-align:center;
 font-weight:bold;
 color:white;
 font-size:12em;
 border-color:rgba(192, 192, 192, 0.7);
 border: 1px solid rgba(192, 192, 192, 0.7);
}

table.thursday {
 width:100%;
 background-color:rgba(0, 0, 255, 0.7);
 height:250px;
 text-align:center;
 font-weight:bold;
 color:white;
 font-size:12em;
 border-color:rgba(0, 0, 255, 0.7);
 border: 1px solid rgba(0, 0, 255, 0.7);
}

a.linker {
text-decoration: none;;
color: white;
}



/* Desktop Styles */
@media only screen and (min-width: 900px) {
  html {
    font-size: 2.0em;
  }

  .container,  .container_header, .container_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.container_header {
	height:400px;
	width:100%px;
	background-repeat: no-repeat;
	background-size: cover;
	}

  header_section {
    float: left;
    width: 80%;
    order: 2;
  }
  header_icon {
    float: left;
    width: 15%;
    order: 1;
	border: 0px;
  }

collateral_monday, collateral_tuesday,collateral_wednesday,collateral_thursday {
	font-size:1.3em;
	}


 footer_email, footer_hardware, my_signature {
    float: left;
    width: 100%;
   }

}


/* Desktop Styles */
@media
only screen
 and (min-width: 415px) and (max-width: 899px) {
  html {
    font-size: 1.3em;
  }

  .container,  .container_header, .container_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.container_header {
	height:400px;
	width:100%px;
	background-repeat: no-repeat;
	background-size: cover;
	}

  header_section {
    float: left;
    width: 60%;
    order: 2;
  }
  header_icon {
    float: left;
    width: 15%;
    order: 1;
	border: 0px;
  }

collateral_monday, collateral_tuesday,collateral_wednesday,collateral_thursday {
	font-size:1.3em;
	}


 footer_email, footer_hardware, my_signature {
    float: left;
    width: 100%;
   }

}

@media screen and (max-width: 414px) {
  html {
    font-size: 1.0em;
  }
  .container,  .container_header,.container_footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.container_header {
	height:275px;
	width:100%px;
	background-repeat: no-repeat;
	background-size: cover;
	}

collateral_monday, collateral_tuesday,collateral_wednesday,collateral_thursday {
	font-size:1.0em;
	}

  header_section {
    float: left;
    width: 60%;
    order: 2;
  }
  header_icon {
    float: left;
    width: 20%;
    order: 1;
	border: 0px;
  }

 footer_email, footer_hardware, my_signature {
    float: left;
    width: 100%;
   }

}