.chat-container {
    width:               30px;
    padding-left:        5px;
}
.chat-container :hover {
    background-color:  #ffffff;
}

.chat-modal {
    position: fixed;
    z-index: 20;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);

}

.chat-modal-content {
    background-color: #fefefe;
    margin: auto;
    border: 1px solid #888;
    width: 450px;
    text-align: left;
    line-height: 1.375;
    font-size: 12px
}

.chat-title-bar {
    padding: 0 0 0 0;
    color: #000000;
    margin-bottom: 0;
    border-style: solid;
    border-width: 1px;
    border-color:#d8d8d8;
    background-color:#f2f2f2;
}

.chat-close{
    margin-left: 320px;
    border: transparent;
    background: #f2f2f2;
    font-size: 12px;
    font-weight: bold;
}

.contact-modal-blocks {
    padding: 1.875rem;
}

.chat-row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    max-width: 62.5rem;
}

.chat-img {
    height:        48px;
    width:         48px;
    display:       block;
    float:         left;
    margin-top:    10px;
    margin-right:   8px;
}

.chat-sep-contact {
    border-color:  #d6dfe6;
    border-width:  1px;
    border-style:  none none solid none;
    margin:        1.875rem 0 1.875rem 0;
}

.drawer-btn-chat {
    cursor:        pointer;
    background-color:  #f5f5f5;
}
